@import "../css/main_dashboard.css";

#forme_decription{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-left: 2px  solid black ;
    border-right: 2px  solid black;
    border-bottom: 2px  solid black;
    color: red;
    padding: 10px 0;
   

}
#forme_decription span{
    text-align: center;
}
#dynamic_row_contenmair{
    width: 100%;
}
#submitted_form_row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    margin: 5px 0px;
    background-color: rgba(82, 13, 13,.3);
    padding: 3px 0px;
    flex-wrap: wrap;
    
}
#submitted_form_row:hover{
    box-shadow:  2px 1px 2px red;
    transform: scale(1)  ;

}
#submitted_form_row span:hover{
   cursor: pointer;
   transform: scale(1.2) ; 

}
.col{
    text-align: center;
   
}

#submitted_form_row .col{
    border-radius: 3px;
    background-color:rgb(226, 219, 219);
    padding: 5px 10px;
}
#submitted_form_row .col:hover{
    transform: scale(2px);
    transform:translate(1.5px);
    box-shadow: 2px 1px 2px rgba(0, 0, 0,.5);
}


