@import "../css/main_dashboard.css";
#status_main_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url("../image/logobg.png");
}
.table_col{
    width: 18%;
    display: flex;
    justify-content: center;
    
}
.sub_table_col{
    width: 15%;
    display: flex;
    justify-content: center;
    border-right: 1px  solid black;
   
    
}
 .first-of-type{
    border-left: 1px  solid black;
   

   
}
#edit_box{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#delete{
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    padding: 5px 10px;
}

#edit{
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:orangered;
    padding: 5px 10px;
}
