@import "../css/main_dashboard.css";
body{
    background-image: url("..image/logobg.png");
    background-repeat: repeat;
}

#header_contenair{
    position: fixed;
    height: 10%;
    z-index: 1;
}
#dash_board_menu{
    position: fixed;
    top: 10%;
    z-index: 1;
}
.ethic_form_box{
    width: 80%;
    
}

#midle_section_contenair_user{
    overflow-y:scroll;
    position: absolute;
    box-sizing: border-box;
    margin-top: 5%;
    min-height: 90vh;
    text-align: center;
    background-image: url("..image/logobg.png");
    background-repeat: repeat;
}
#midle_section_contenair_user h2{
    margin-top: 5%;
    padding-bottom: 5%;
    width: 80%;
    text-align: center;
}
.ethic_form_box h3{
    margin-bottom: 2%;
    width: 100%;
    text-align: left;
}

.ethic_form_box textarea{
    width: 97%;
    border: none;
    outline: none;
    border: 1px solid red;
    margin-bottom: 2%;
}
.yes_or_no_radio{
    margin-left: 2%;
    display: flex;

}
.yes_or_no_radio span{
    display: flex;
    padding-right: 2%;
}
.yes_or_no_radio span label{
    padding-right: 4px;
   
  
}

.signature{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
}
.signature_content{
    width: 30%;
    padding-bottom: 4%;
}
.signature_content input{
    border: none;
    outline: none;
    border: solid 1px red;
    width: 100%;
    font-size: 20px;
}
.clear-btn,.save-btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
   outline: none;
   color: white;
   background-color: red;

} 
.save-btn{
    background-color: green;
}





