body{
	background-color: whitesmoke;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

#main_wrapper{
	width: 100%;
	max-height: 100vh;
	position: fixed;
	



}
a{
	text-decoration: none;
}

#logo{
	padding-left: 2%;
	
}
#logo img{
	width: 30%;
}
#search{
	border: solid black 1px;
	display: flex;
	border-radius: 15px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	
}

#search input{
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 15px;
	padding-left: 5px;
}
::placeholder{
	color: red;
	padding-left: 10px;

}


#search_icon ion-icon{
	width: 30px;
	height: 30px;
	color: red;
}
#search_icon{
	border-left: solid 1px black;
	
	
}


#header_contenair{
	padding: 20px 0 ;
	display: flex;
	justify-content:space-between;
	width: 100%;
	height: 20%;
	position: relative;
	top: 0;
	align-items: center;
	background-image: url("../image/logobg.png");
	height: 10vh;
	border-bottom: black solid 1px;
	



}
#log_out_notification_contenair{
	display: flex ;
	justify-content: space-around;
	padding-right:2% ;
	align-items: center;
	
	
}
#care_down{
	justify-content: center;
	flex-wrap: wrap;
}

#dropdown-content {
	
	top: 100%;
	position: absolute;
	list-style: none;
	justify-content: center;
	text-decoration: none;
	flex-direction: column;
	width: 100%;
	right: -85%;
	z-index: 1;
	background-color: whitesmoke;
	border-left: solid 1px red;
	border-top: solid 1px red;
	display: none;
	


}

#care_up_icon{
	display: none;
}
#log_out a{
	display: inline-flex;
	text-decoration: none;
}

#dropdown-content li{
	padding: 20px 0px 10px 50px;
  
   cursor: pointer;
   border-bottom: solid red 1px;
}

#log_out_notification_contenair ion-icon{
	width: 30px;
	height: 24px;

}
#log_out_notification_contenair span{
	display: flex;
	align-items: center;
	margin-left: 30px;
}

#profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 1px black;
	
}
#profile img{
	
	width: 100%;
	height: 100%;
	border-radius: 50%;

}

#dash_board_menu
{

max-width:20%;
min-height:90vh;
background-image: url("../image/login_backgroung.jpg");
border-top: solid black 1px ;
display: flex;
justify-content: center;
align-content: space-around;
flex-wrap: wrap;
position: fixed;
left: 0%;
border-right: 1px solid black;


	
}
#dash_board_menu div {
	width: 80%;
	text-align: center;
}
#dash_board_menu h2{
	width: 100%;
	text-align: center;
}

#dash_board_menu div {
	
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
#dash_board_menu a{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 15px;
	color: black;
}


#dash_board_menu div ion-icon{
	width: 40px;
	height: 40px;
	color: red;
}
#dash_board_menu h2{
	background: red;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 30px;

}
#midle_section_contenair{
	display: flex;
	max-width:80%;
	height:80vh;
	position: relative;
	top: 0%;
	left: 20%;
	align-content: space-around;
	flex-wrap: wrap;
	background-color:whitesmoke;
	


}
#midle_section_contenair_box{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 10%;

}
.midle_section_box{
	width: 20%;
	background-color: red;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 10px;
}
.midle_section_box:hover{
	transform: translateY(-10px);
}

.status_name{
	font-size: 20px;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.status_name ion-icon{
	width: 24px;
	height: 24px;
	margin-left: 2px;
}
.count{
	width: 100%;
	text-align: center;
}

#status_table{
	width: 80%;
	height: 70%;
	background-color: whitesmoke;
	border-radius: red;
	position: relative;
	transform: translatex(-50%);
	left: 50%;
	background-image: url("../image/login_backgroung.jpg");

}

#status_table_hearder{
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: solid black;
	padding: 10px 5px;
}
#status_table_hearder button{
	outline: none;
	border: none;
	
	padding: 5px 10px;
	border-radius: 5px;
	background: red;
	color: white;
	font-size: 15px;

}


/* user_dashboard_css */
#midle_section_contenair_user{

	display: flex;
	max-width:80%;
	height:80vh;
	position: relative;
	top: 0%;
	left: 20%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}
#midle_section_contenair_user h2{
	padding-right: 25%;
	width: 80%;
	text-align: center;
}
#Description{
	width: 80%;
	height:60% ;
	background: whitesmoke;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.panel{
	height: 30%;
	width: 100%;
	background:white;
	 overflow: hidden;
	 display: none;
}
.panel p{
	color:black;
	font-size: 20px;
}
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding:15px 5px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	font-size: 25px;
  }
  active, .accordion:hover {
	background-color: #ccc;
  }
  .form_count{
	transform: translate(-50%,-50%);
	position:relative;
	color: red;
	top: 20%;
	right: -45%;
  }
  





