 @import "../css/main_dashboard.css";
 @import "../css/ethic.css";
* {

    margin: 0;
    padding: 0;
}

input,
select {
    border: none;
    outline: none;
    border: solid 2px red;
    font-size: 25px;
    background: transparent;

}

textarea {
    border: none;
    outline: none;
    border: solid 2px red;
    background: transparent;
}

.input_block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.input_block input {
    margin-top: 15px;
    width: 90%;
}




#main_contenair {

    width: 80%;
  
    transform: translatex(-50%);
   position: relative;
   left: 40%;
    /* background-color: rgb(241, 241, 248); */
   
    background-image: url("../image/login_backgroung.jpg");
}

#derscription {
    width: 100%;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
}

#derscription p,
h1,
h2 {
    margin-top: 20px;

}

#derscription h2,
h1 {
    text-align: center;
}

.p_description {
    border: solid black 2px;
    width: 90%;
    font-size: 22px;
    line-height: auto;
    text-align: center;
    padding: 5px;
}



#form_contenair {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block {
    width: 100%;
    margin-top: 30px;
}
.block_box h1{
    width: 95%;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  
}
.block h1{
    width: 90%;
    display: flex;
    justify-content: left;
    font-size: 25px;

}

#first_block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#first_block input {
    width: 60%;
    display:flex;
    margin-left: 30%;
   
  
   


}

/*First_block_done*/

#second_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#second_block_radio_input label {
    font-size: 14px;
    display: flex;
    align-items: center;
}

#second_block_radio {
    width: 60%;
}

#second_block_radio_input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#specify_input {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

#specify  {
    display: none;
    width: 100%;

}

/*second_block_done*/

#third_block {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.resarcher_block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.resarcher_block p {
    width: 20%;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}



.resarcher_block input {
    width: 60.5%;

}

.resarcher_block textarea {
    width: 60.5%;


}

/* third_block_end */

#forth_block{
   
   

} 


/* add + revove control */
.controls {
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 margin-top: 15px;
 
}

#remove_fields {
 width: 45%;
 display: flex;
 justify-content: right;
}
#add_more_fields{
    width: 45%;
    display: flex;
 justify-content:left;

}
.controls a i.fa-minus {
  margin-right: 5px;
}

a {
  color: black;
  text-decoration: none;
}


.block_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




.forth_block_side {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.forth_block_side h3 {
    width: 90%;
    display: flex;
    justify-content: left;
    margin-top: 15px;

}

#email {
    margin-bottom: 15px;
}


/* 4th_block_section */
.fith_block_input {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.fith_block_input p {
    width: 20%;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.fith_block_input input {
    width: 60.5%;
}

.fith_block_input select {
    width: 60.5%;
}

/* 6th_section */

/* 6th_section */

/* 7th_section */

.seventh_block_side{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.seventh_block_input {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.seventh_block_input p {
    width: 10%;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.seventh_block_input input {
    width: 80.5%;
}
textarea {
    border: none;
    outline: none;
    border: solid 2px red;
    background: transparent;
}