
@import"../css/appt_status.css";
.container {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    
}

table, th, td {
    border: 1px solid #ccc;
    text-align: center;
}

th, td {
    padding: 8px;
   
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    border-top: .4rem;
    border-top: none;
}

#table span{
    text-align: center;
    padding: 4px 6px;
    background-color:red;
    border-radius: 5px;
   color: aliceblue;

}
#table span:hover{
transform: scale(.9);
box-shadow:  1px 2px 1px wheat;
}
#form_row{
    text-align: center;
    width: 100%;

}

