body {
   background-color: #344a72;
   font-family: "Roboto", sans-serif;
 }
 
 #signup-box {
   display: none;
   width: 360px;
   height: 720px;
   position:absolute ;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%; 
   background-color: white;
   border-radius: 3px;
 }
 
 #login-box {
   
   
   width: 380px;
   height: 460px;
   position:absolute ;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%; 
   border-radius: 3px;
   background-color: white;
 }


 #sign_up{
  transition: ease-in-out 3s;
 }
 #log_in{
  transition: ease-in-out 3s;
 }
 #logo{

   width: 100%;
  
   text-align: center;
   position: relative;
 }
 #logo img{
   width: 80%;
 }
 
 h1 {
   text-align: center;
 }
 
 
 
 form {
   width: 300px;
   position: relative;
   transform: translateX(-50%);
   left: 50%;
   

 }
 
 form label {
   display: flex;
   margin-top: 5px;
   font-size: 18px;
 }
 
 form input {
   width: 100%;
   padding: 15px;
   font-size: 14px;
   border: none;
   border-bottom: 1px solid  #e40707;
   border-radius: 6px;
   outline: none;
   position: relative;
   transform: translateX(-50%);
   left: 50%;
 }

 input[type="button"] {
   position: relative;
   transform: translateX(-50%);
   left: 50%;
   margin-top: 20px;
   margin-bottom: 15px;
   border: none;
   background-color: #e40707;
   color: white;
   font-size: 18px;
   text-align: center;
  
 }
 p {
   text-align: center;

   font-size: 15px;
 }
 .para-2 {
   text-align: center;
   color: rgb(0, 0, 0);
   font-size: 15px;
  
 }
 .para-2 span {
   color:  #e40707;
   border-bottom: solid 1px  white;
   margin-left: 2px;
   cursor: pointer;
 }

 
 