*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#main_wrapper{
	width: 100%;
	max-height: 100vh;
	position: fixed;



}
a{
	text-decoration: none;
}

#logo{
	padding-left: 2%;
	
}
#logo img{
	width: 35%;
}
#search{
	border: solid black 1px;
	display: flex;
	border-radius: 15px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	
}

#search input{
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 15px;
	padding-left: 5px;
}
::placeholder{
	color: red;
	padding-left: 10px;

}


#search_icon ion-icon{
	width: 30px;
	height: 30px;
	color: red;
}
#search_icon{
	border-left: solid 1px black;
	
	
}


#header_contenair{
	padding: 20px 0 ;
	display: flex;
	justify-content:space-between;
	width: 100%;
	height: 20%;
	position: relative;
	top: 0;
	align-items: center;
	background-color: whitesmoke;
	



}
#log_out_notification_contenair{
	display: flex ;
	justify-content: space-around;
	align-items: center;
	padding-right:2% ;
}
#notification ion-icon{
	width: 30px;
	height: 24px;

}
#profile{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 1px black;
	margin-left: 50px;
}

#dash_board_menu
{

max-width:20%;
min-height:90vh;
background-color: whitesmoke;
border-top: solid black 1px ;
display: flex;
justify-content: center;
align-content: space-around;
flex-wrap: wrap;
position: absolute;
left: 0%;
border-right: 1px solid black;


	
}
#dash_board_menu div {
	width: 80%;
	text-align: center;
}
#dash_board_menu h2{
	width: 100%;
	text-align: center;
}
#dash_board_menu div {
	
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}
#dash_board_menu a{
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
	color: black;
}


#dash_board_menu div ion-icon{
	width: 40px;
	height: 40px;
	color: red;
}
#dash_board_menu h2{
	background: red;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 30px;

}
#midle_section_contenair{
	display: flex;
	max-width:80%;
	height:80vh;
	position: relative;
	top: 0%;
	left: 20%;
	align-content: space-around;
	flex-wrap: wrap;


}
#midle_section_contenair_box{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 10%;
}
.midle_section_box{
	width: 15%;
	background-color: red;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 10px;
}
.status_name{
	font-size: 20px;
	width: 100%;
	text-align: center;
	color: white;
}
.count{
	width: 100%;
	text-align: center;
}

#status_table{
	width: 80%;
	height: 70%;
	background-color: whitesmoke;
	border-radius: red;
	position: relative;
	transform: translatex(-50%);
	left: 50%;

}


